<div *ngIf="obj">
  <div>
    {{obj.name}}
    <!-- <button (click)="onDelete(obj)">Delete</button> -->
  </div>
  <span>Width:</span>
  <input type="number" [(ngModel)]="obj.rect.w" (change)="onPropertyChange()">
  <span>Height:</span>
  <input type="number" [(ngModel)]="obj.rect.h" (change)="onPropertyChange()">
  <span>X:</span>
  <input type="number" [(ngModel)]="obj.rect.x" (change)="onPropertyChange()">
  <span>Y:</span>
  <input type="number" [(ngModel)]="obj.rect.y" (change)="onPropertyChange()">
</div>
