<!-- begin #pricing -->
<div id="pricing" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">Our Price</h2>
        <p class="content-desc">
            You can choose the most suitable option for your brand
        </p>
        <!-- begin pricing-table -->
        <ul class="pricing-table col-4">
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Starter</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">FREE</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>1GB Storage</li>
                        <li>1K Connections</li>
                        <li>1 Active Campaigns</li>
                        <li>24/7 Email support</li>
                    </ul>
                    <div class="footer">
                        <a href="#" class="btn btn-inverse btn-block">Try Now</a>
                    </div>
                </div>
            </li>
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Basic</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$9.99</span>
                            <span class="price-tenure">per month</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>2GB Storage</li>
                        <li>2K Connections</li>
                        <li>2 Active Campaigns</li>
                        <li>24/7 Email support</li>
                    </ul>
                    <div class="footer">
                        <a href="#" class="btn btn-inverse btn-block">Buy Now</a>
                    </div>
                </div>
            </li>
            <li class="highlight" data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Premium</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$19.99</span>
                            <span class="price-tenure">per month</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>5GB Storage</li>
                        <li>5K Connections</li>
                        <li>5 Active Campaigns</li>
                        <li>24/7 Email support</li>
                    </ul>
                    <div class="footer">
                        <a href="#" class="btn btn-theme btn-block">Buy Now</a>
                    </div>
                </div>
            </li>
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Enterprise</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$999</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>Unlimited Storage</li>
                        <li>Unlimited Connections</li>
                        <li>Unlimited Campaigns</li>
                        <li>24/7 Email support</li>
                    </ul>
                    <div class="footer">
                        <a href="#" class="btn btn-inverse btn-block">Contact us</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- end container -->
</div>
<!-- end #pricing -->
